body {
    background-color:#EEEEEE;
    line-height: 1.4;
}

.page-header {
    margin-top: 0;
}

.pannel-body {
    padding-top: 0;
}

.featuredImg {
    margin-bottom: 15px;
}

.profilePic {
    width: 168px;
    height: 168px;
    float: left;
    margin-right: 15px;
}

.aboutHeading {
    margin-top: 0;
}

.galleryImages img {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}

.galleryImages img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}